Source: wazo-python-uvicorn-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends:
 debhelper (>= 12),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.7

Package: python3-uvicorn
Architecture: all
Depends:
 python3-click,
 python3-h11,
 python3-httptools,
 python3-pytest,
 python3-requests,
 python3-uvloop,
 python3-websockets,
 python3-wsproto,
 ${misc:Depends},
 ${python3:Depends},
Description: ASGI server implementation, using uvloop and httptools (Python3 version)
 Uvicorn is a fast ASGI server, built on uvloop and httptools. It currently
 supports HTTP/1.1 and WebSockets.
 .
 Uvicorn is designed with particular attention to connection and resource
 management, in order to provide a robust server implementation. It aims to
 ensure graceful behavior to either server or client errors, and resilience to
 poor client behavior or denial of service attacks.
 .
 This package contains the Python 3 version of the library.
